<%- include('partials/header'); -%>

    <div class="container my-4">
        <div class="p-5 mb-4 rounded-3">
            <div class="container-fluid">
                <h1 class="display-5 fw-bold">Assignment Tracker</h1>
                <p class="col-md-8 fs-4 my-4">You can Track all of your assignments</p>
                <a href="/assignments" class="btn btn-dark">All Assignments <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>